body{
  position: relative;
}
.inner-logo img{
  width: 50px;
}
.card .inner-thumbnail {
  aspect-ratio: 4 / 3;
}

.inner-thumbnail img {
  width: auto;  /* Chiều rộng tự động để giữ tỷ lệ */
  height: 200px; /* Cố định chiều cao */
  object-fit: cover;
}
.detail.inner-image{
  border: 1px solid #ddd;
  border-radius: 5px;
}
.detail.inner-image img{
  max-width: 100%;
  height: auto;
}
.card.card-product{
  position: relative;
}
.card span{
  position: absolute;
  right: 10px;
  top:10px;
}
.row{
  align-items: center;
}
table img {
  width: 100px;
  height: auto;
}

table th, table td {
  width: 150px;
  text-align: center;
}

table tr {
  min-height: 50px;
}
.table-cart{
  border:1px solid #ddd;
}
.table-cart tr{
  border:1px solid #ddd;
}
.table-cart td{
  border:1px solid #ddd;
}
.table-cart th{
  border:1px solid #ddd;
}
.inner-quantity{
  display:flex;
  justify-content: center;
  align-items: center;
}
.inner-register{
  display: flex;
  justify-content: center;
}
.price-old{
  text-decoration: line-through;
}
.footer {
  padding: 20px 0; /* Thêm padding cho phần footer */
}

.footer .container {
  border-radius: 10px;
  background-color: #00483D;
  padding: 20px; /* Thêm padding bên trong container */
}

.footer .row {
  display: flex; /* Đảm bảo sử dụng flexbox */
  align-items: flex-start; /* Căn giữa các cột */
  justify-content: center; /* Căn giữa hàng */
}

.footer .col-3 {
  flex: 1; /* Để mỗi cột có chiều rộng bằng nhau */
  padding: 10px; /* Thêm padding cho mỗi cột */
}

.footer .col-3 div {
  text-align: left;
}

.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Chỉnh sửa để các mục căn thẳng về bên trái */
  list-style: none;
  margin: 0; /* Đặt margin là 0 để loại bỏ khoảng cách mặc định */
  padding: 0; /* Đặt padding là 0 để loại bỏ khoảng cách mặc định */
}

.footer ul li {
  font-size: 10px;
  font-weight: 600;
  color: white;
  margin: 0; /* Đặt margin là 0 để không có khoảng cách giữa các mục */
  padding: 5px 0; /* Thêm padding nếu bạn muốn khoảng cách giữa các mục */
}


.footer .col-3 h4 {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px; /* Thêm khoảng cách dưới tiêu đề */
}



.footer img {
  width: 50px; /* Đặt chiều rộng cho hình ảnh thanh toán */
  height: auto; /* Đảm bảo chiều cao tự động để giữ tỷ lệ */
  margin: 5px 0; /* Thêm khoảng cách cho các hình ảnh */
}

.contact ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  position: fixed;
  left: 0px;
  top: 400px;
}
.contact li img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}