.inner-logo img{
  width: 50px;
}
.card .inner-thumbnail img{
  width: 200px;
  height: auto;
}
.detail.inner-image{
  border: 1px solid #ddd;
  border-radius: 5px;
}
.detail.inner-image img{
  max-width: 100%;
  height: auto;
}
.card.card-product{
  position: relative;
}
.card span{
  position: absolute;
  right: 10px;
  top:10px;
}
.row{
  align-items: center;
}
table img {
  width: 100px;
  height: auto;
}

table th, table td {
  width: 150px;
  text-align: center;
}

table tr {
  min-height: 50px;
}
.table-cart{
  border:1px solid #ddd;
}
.table-cart tr{
  border:1px solid #ddd;
}
.table-cart td{
  border:1px solid #ddd;
}
.table-cart th{
  border:1px solid #ddd;
}
.inner-quantity{
  display:flex;
  justify-content: center;
  align-items: center;
}
.inner-register{
  display: flex;
  justify-content: center;
}