{%extends 'client/main.html'%} {%load static%} {%block content%}
<div class="container px-3 my-5 clearfix">
  {% if products %}
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0" table-cart>
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Tên sản phẩm &amp; Ảnh</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Giá cũ</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Giảm giá</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Giá mới</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Số lượng</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Tổng tiền</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Hành động</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                  {%for item in products%}
                    <tr record="{{item.product.id}}">
                      <td class="p-4">
                        <div class="media align-items-center">
                          <img w src="{% static 'client/' %}{{item.product.thumbnail}}" alt="">
                          <div class="media-body">
                            <p><b>{{item.product.name}}</b></p>
                          </div>
                        </div>
                      </td>
                      <td class="text-right font-weight-semibold align-middle p-4">{{item.product.price}} VNĐ</td>
                      <td class="text-right font-weight-semibold align-middle p-4">{{item.product.discountPercentage}} %</td>
                      <td class="text-right font-weight-semibold align-middle p-4">{{item.product.priceNew}} VNĐ</td>
                      <td class="align-middle p-4">
                        <div class="inner-quantity">
                          <input
                            style="width: 60px"
                            type="number"
                            name="quantity"
                            value="{{item.quantity}}"
                            quantity-cart-input="{{item.product.id}}"
                            readonly
                          />
                        </div>
                          
                      </td>
                      <td class="text-right font-weight-semibold align-middle p-4" ><p total-price="{{item.product.id}}">{{item.totalPrice}} VNĐ</p></td>
                      <td class="text-center align-middle px-0"><a href="{%url 'delete-cart' item.product.id%}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                    </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
              
              </div>
              <div class="d-flex">
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large"><strong total-payment>Tổng tiền thanh toán: {{totalPayment}} VNĐ</strong></div>
                </div>
              </div>
            </div>
        
            <div class="float-right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Thanh toán
              </button>
            </div>
        
          </div>
      </div>

  {%else%}
  <h1>Giỏ hàng trống</h1>
  {%endif%}
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông tin người mua</h5>
      </div>
      <div class="modal-body">
        <form  method="POST" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Họ tên</label>
            <input required type="text" class="form-control" id="name" name="name"/>
          </div>
          <div class="form-group">
            <label  for="phone">Số điện thoại</label>
            <input required type="text" class="form-control" id="phone" name="phone"/>
          </div>
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input required type="text" class="form-control" id="address" name="address"/>
          </div>
          <button type="submit" class="btn btn-primary">Thanh toán</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
