{%extends 'client/main.html'%} {%load static%} {%block content%}

<div class="container">
  <h1>Trang giỏ hàng</h1>
  {% if products %}
  <div class="row">
    <table class="table-cart">
      <thead>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Ảnh</th>
        <th>Giá cũ</th>
        <th>Giảm giá</th>
        <th>Giá mới</th>
        <th>Số lượng</th>
        <th>Tổng tiền</th>
        <th>Hành động</th>
      </thead>
      <tbody>
        {%for item in products%}
        <tr record="{{item.product.id}}">
          <td>{{ forloop.counter }}</td>
          <td>{{item.product.name}}</td>
          <td>
            <img src="{% static 'client/' %}{{item.product.thumbnail}}" alt="Ảnh" />
          </td>
          <td>{{item.product.price}} VNĐ</td>
          <td>{{item.product.discountPercentage}}%</td>
          <td>{{item.product.priceNew}} VNĐ</td>
          <td>
            <div class="inner-quantity">
              <button button-process product-id={{item.product.id}} type-process="decrease">-</button>
              <input
                style="width: 60px"
                type="number"
                name="quantity"
                value="{{item.quantity}}"
                quantity-cart-input="{{item.product.id}}"
              />
                <button button-process product-id={{item.product.id}} type-process="increase">+</button>
            </div>
          </td>
          <td><span total-price="{{item.product.id}}">{{item.totalPrice}} VNĐ</span></td>
          <td>
            <button class="btn btn-warning">
              <a href="{%url 'delete-cart' item.product.id%}">Delete</a>
            </button>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <h2>
    <span total-payment>Tổng tiền thanh toán: {{totalPayment}} VNĐ</span>
  </h2>

  <a href="{% url 'check-out'%}">
    <button class="btn btn-primary">Thanh toán</button>
  </a>
  {%else%}
  <h1>Giỏ hàng trống</h1>
  {%endif%}
</div>


{% endblock %}
