{%extends 'client/main.html'%} {%load static%} {%block content%}

<div class="container">
  <h1>Đơn hàng của bạn</h1>
  {% if infoOrders %}
  {%for infoOrder in infoOrders%}
    <div class="row">
      <table class="table-cart">
        <thead>
          <th>STT</th>
          <th>Tên sản phẩm</th>
          <th>Ảnh</th>
          <th>Giá cũ</th>
          <th>Giảm giá</th>
          <th>Giá mới</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
          <th>Trạng thái</th>
          <th>Ngày đặt </th>
        </thead>
        <tbody>
          {%for item in infoOrder.infoItems%}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{item.product.name}}</td>
            <td>
              <img src="{% static 'client/' %}{{item.product.thumbnail}}" alt="Ảnh" />
            </td>
            <td>{{item.product.price}} VNĐ</td>
            <td>{{item.product.discountPercentage}}%</td>
            <td>{{item.product.priceNew}} VNĐ</td>
            <td>{{item.quantity}}</td>
            <td>{{item.totalPrice}} VNĐ</td>
            <td><span class="badge badge-warning">{{item.status}}</span></td>
            <td>{{item.created_at}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <h2>
        Tổng tiền thanh toán: <span style="color: red">{{infoOrder.totalPayment}} VNĐ</span>
      </h2>
    </div>
  <h1>Thông tin khách hàng<h1>
  <p><b>Họ tên: </b>{{infoOrder.infoCustomer.name}}</p>
  <p><b>Số điện thoại: </b>{{infoOrder.infoCustomer.phone}}</p>
  <p><b>Địa chỉ: </b>{{infoOrder.infoCustomer.address}}</p>
  {%endfor%}
  {%else%}
  <h1>Đơn hàng trống</h1>
  {%endif%}
  {% endblock %}
  
</div>
