{%load static%}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="inner-service">
          <h4>Hỗ trợ dịch vụ</h4>
          <ul>
            <li>Chính sách và hướng dẫn mua hàng trả góp</li>
            <li>Hướng dẫn mua hàng và chính sách vận chuyển</li>
            <li>Tra cứu đơn hàng</li>
            <li>Chính sách đổi mới và bảo hành</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="inner-contact">
          <h4>Thông tin liên hệ</h4>
          <ul>
            <li>Thông tin các trang TMĐT</li>
            <li>Dịch vụ sửa chữa Hoàng Hà Care</li>
            <li>Khách hàng doanh nghiệp (B2B)</li>
            <li>Tra cứu bảo hành</li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="inner-payment">
          <h4>Thanh toán miễn phí</h4>
          <ul>
            <li><img src="{%static "client/images/logo-visa.png"%}"/></li>
            <li><img src="{%static "client/images/logo-master.png"%}"/></li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <div class="inner-shipment">
          <h4>Hình thức vận chuyển</h4>
          <ul>
            <li><img src="{%static "client/images/nhattin.jpg"%}"/></li>
            <li><img src="{%static "client/images/vnpost.jpg"%}"/></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
