{%load static%}
<div class="header" style="height:180px">
  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-3">
        <a href="{% url 'home'%}">
          <div class="inner-logo">
            <img style="width:100px;height=auto" src="{% static 'client/images/logo-shop.png'%}" />
          </div>
        </a>
      </div>
      <div class="col-4">
        <form class="form-search1">
          <div class="input-group rounded">
            <input default=""  type="search" name="keyword" class="form-control rounded" placeholder="Search" value="{{keyword}}" aria-label="Search" aria-describedby="search-addon" />
            <button  class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-1">
        <a href="{%url 'detail-cart'%}">
          <img src="{% static 'client/images/icon-cart.png' %}" alt="Cart Icon" >
          {%if quantityProducts %}
          <span quantity-cart>({{quantityProducts}})</span>
          {%else%}
          <span quantity-cart></span>
          {%endif%}
        </a>
      </div>
      <div class="col-1">
        <a href="{%url 'detail-order'%}">
          <img src="{% static 'client/images/icon-truck.png' %}" alt="Cart Icon" >
          {%if quantityOrders%}
          ({{quantityOrders}})
          {%endif%}
        </a>
      </div>
      
      {% if request.user.is_authenticated %}
        <div class="col-1">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img width="30px" src="{% static 'client/'%}{{request.user.avatar}}"/>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#"><span class="btn btn-info">{{request.user.username}}</span></a>
              <a class="dropdown-item" href="{%url 'edit-pass'%}">Thay đổi mật khẩu</a>
              <a class="dropdown-item" href="{%url 'detail-user'%}">Chi tiết tài khoản</a>
              <a class="dropdown-item" href="{%url 'logout'%}">Đăng xuất</a>
            </div>
          </div>
        </div>
      {%else%}
      <div class="col-1">
        <a href="{%url 'login'%}">
          Đăng nhập
        </a>
      </div> 
      <div class="col-1">
        <a href="{%url 'register'%}">
          Đăng kí
        </a>
      </div>
      {%endif%}
    </div>
      
    </div>
  </div>
</div>
