{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
  <style>
    input {
      border: 1px solid #ced4da !important; /* Điều chỉnh màu sắc hoặc kích thước tùy thích */
      box-shadow: none !important;
    }
  </style>
  <div class="ml-5">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
          <select class="form-control" name="status">
              <option value="Processed" {% if order.status == 'Processed' %} selected {% endif %}>Processed</option>
              <option value="Shipped" {% if order.status == 'Shipped' %} selected {% endif %}>Shipped</option>
              <option value="Enroute" {% if order.status == 'Enroute' %} selected {% endif %}>Enroute</option>
              <option value="Arrived" {% if order.status == 'Arrived' %} selected {% endif %}>Arrived</option>
          </select>      
      </div>
      <button type="submit" class="btn btn-primary">Cập nhật</button>
  </form>
</div>
{% endblock %}
