{%extends 'main.html'%} {%load static%} {%block content%}

<div class="container">
  <h1>Trang giỏ hàng</h1>
  {% if products %}
  <div class="row">
    <table class="table-cart">
      <thead>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Ảnh</th>
        <th>Giá cũ</th>
        <th>Giảm giá</th>
        <th>Giá mới</th>
        <th>Số lượng</th>
        <th>Tổng tiền</th>
        <th>Hành động</th>
      </thead>
      <tbody>
        {%for item in products%}
        <tr>
          <td>1</td>
          <td>{{item.product.name}}</td>
          <td>
            <img src="{% static item.product.thumbnail%}" alt="Ảnh" />
          </td>
          <td>{{item.product.price}} VNĐ</td>
          <td>{{item.product.discountPercentage}}%</td>
          <td>{{item.product.priceNew}} VNĐ</td>
          <td>
            <div class="inner-quantity">
              <a href="{% url 'decrease-product' item.product.id %}">
                <button class="decrease">-</button>
              </a>

              <input
                style="width: 60px"
                type="number"
                name="quantity"
                value="{{item.quantity}}"
              />
              <a href="{% url 'increase-product' item.product.id %}">
                <button class="increase">+</button>
              </a>
            </div>
          </td>
          <td>{{item.totalPrice}} VNĐ</td>
          <td>
            <button class="btn btn-warning">
              <a href="{%url 'delete' item.product.id%}">Delete</a>
            </button>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <h2>
    Tổng tiền thanh toán: <span style="color: red">{{totalPayment}} VNĐ</span>
  </h2>

  <a href="{% url 'check-out'%}">
    <button class="btn btn-primary">Thanh toán</button>
  </a>
  {%else%}
  <h1>Giỏ hàng trống</h1>
  {%endif%}
</div>


{% endblock %}
