{% extends "main.html" %} 
{%load static%}
{%block content%} 
<div class="container">
  {%include 'base/select-order.html'%}
  {%include 'base/option-price.html'%}
  {% if products %}
    <div class="row">
      {% for product in products %}
        <div class="col-xl-4 col-lg-4 col-sm-4 col-12 mb-3">
          <div class="card card-product" style="height:100%; width:18rem;">
            <div class="inner-thumbnail">
              <img src="{% static product.thumbnail %}" class="card-img-top" alt="thumbnail">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p><b>Giá cũ: </b>{{ product.price }} VNĐ</p>
              <div class="discount">
                <p><span class="badge badge-danger">Giảm giá: {{product.discountPercentage}}%</span></p>
              </div>
              <p><b>Giá mới: </b>{{ product.priceNew }} VNĐ</p>
              <a href="{% url 'detail-product' product.id %}">
                <i class="fa-solid fa-eye"></i>
              </a>
              <a href="{% url 'buy-product' product.id %}">
                <i class="fa-solid fa-cart-plus"></i>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {%include 'base/pagination.html'%}
  {% else %}
    <h2>{{ notification }}</h2>
  {% endif %}
  
</div>


{%endblock%}
